h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* =================================HEADER============================= */
.container-header {
  border-bottom: #e7e9fc solid 1px;
}

.container-header-div {
  display: flex;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* =================================HEADER============================= */

/* ==================================HERO============================== */
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section-first {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 48px;
  max-width: 496px;
}

.page-title-button:hover,
.page-title-button:focus {
  background-color: #404bbf;
}

.page-title-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
}

/* ==================================HERO============================== */

/* ================================BENEFITS============================= */

.page-section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72) / 4);
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  max-width: 264px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}

/* ================================BENEFITS============================= */

/* =================================TEAM================================ */

.page-section-three {
  background-color: #f4f4fd;
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  margin-bottom: 120px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: calc((100% - 72) / 4);
}

.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* =================================TEAM================================ */

/* ================================PORTFOLIO============================= */
.page-section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.projects {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1150px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
  margin-bottom: 120px;
}

.projects-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.projects-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ================================PORTFOLIO============================= */

/* ================================FOOTER================================ */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.footer-logo .logo-part {
  color: #f4f4fd;
  display: inline-block;
}

.footer-logo {
  max-width: 115px;
  margin-bottom: 16px;
  padding: 0;
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* =================================FOOTER=============================== */
